.idea/
.gcroots

**/.DS_Store

wg

acl/acl_auth_method.json

secret/

terraform/**/.terraform
terraform/**/terraform.tfstate
terraform/**/terraform.tfstate.backup
terraform/vault/tmp

**/.terraform
**/terraform.tfstate
**/terraform.tfstate.backup

**/*.secret.tfvars

certs/mesh**

result

#services/lib/proto/**/**.pb.go.gcroots/
