.idea/

old-compose/grafana-data
old-compose/data/*
**/.DS_Store
secrets/
old-compose/portainer-data/
old-compose/traefik/acme.json

!old-compose/data/pg_hba.conf
!old-compose/data/postgresql.conf

old-compose/grafana/data/*

nomad/alloc
nomad/data
nomad/client-state
